WXT_GOOGLE_CLIENT_ID=xxxxx.apps.googleusercontent.com
WXT_GOOGLE_CLIENT_SECRET=
WXT_MS_CLIENT_ID=00000000-0000-0000-0000-000000000000
WXT_MS_TENANT=common
WXT_BACKEND_URL=http://localhost:8000
WXT_BACKEND_TOKEN=
